* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: black;
}

body::before { /* Para colocar uma imagem de fundo na tela */
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background-image: url(./img/Logo_Fundo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center; /* Alinha vertical, utilizado somente quando tem o display:flex */
    justify-content: center; /* Alinha horizontal, utilizado somente quando tem o display:flex*/
    opacity: 0.5;
    z-index: -1;
}

.logo_netflix {
    width: 12%;
    height: auto;
    margin-left: 50px;
    margin-top: 0;
}

header {
    width: auto;
    height: 60px;
}

main {
    position: relative;
    background-color: rgba(0,0,0, 0.8);
    z-index: 0;
    margin: 0 auto;
    width: 30%;
    height: 590px;
    border-radius: 10px;
}

.login {
    padding: 50px 50px 0 50px;
    color: white;
}

h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
}

.caixaTexto {
    padding: 15px;
    font-size: 15px;
    width: 100%;
    height: 40px;
    margin: 20px 20px 0px 0px;
    background: #4f4f4f;
    border: none;
    border-radius: 5px;
    color: white;
}

.caixaTexto::placeholder {
    color: #808080;
}

.caixaTexto:focus {
    border: 2px solid red;
    outline: none;
}

.meio {
    color: white;
    margin: 50px;
}

a {
    text-decoration: none;
}

.entrar {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    background-color: red;
    border: none;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.entrar:hover {
    opacity: 0.8;
}

.entrar:active {
    opacity: 0.9;
}

.checkbox {
    position: relative;
    margin-top: 10px;
    font-size: 15px;
    display: inline-block;
}

.ajuda {
    display: inline-block;
    margin-left: 95px;
    font-size: 15px;
    margin-top: 10px;
}

.facebook {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 110px;
}

.conectarFacebook {
    display: inline-block;
    position: fixed;
    font-size: 15px;
    line-height: 15px;
    color: white;
    margin-right: 50px;
    margin-bottom: 15px;
    margin-top: 121px;
    margin-left: 7px;
}

.novo {
    color: white;
    margin-left: 50px;
    font-size: 15px;
    margin-top: 10px;
}