* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}

#logo {
    width: 12%;
    height: auto;
    margin-left: 50px;
    margin-top: 0;
}

.paragrafo {
    text-align: center;
    font-size: 50px
}

.perfil {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.icons {
    margin-left: 30px;
    border-radius: 5px;
}

.icons:hover {
    width: 220px;
    height: 220px;
}

.icons:active {
    width: 200px;
    height: 200px;
}

.adicionar {
    background-color: black;
    position: relative;
    margin-top: -20px;
    text-align: center;
    font-size: 25px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.adicionar:hover {
    width: 220px;
    height: 220px;
    font-size: 27px;
}

.adicionar:active {
    background-color: #1C1C1C;
    width: 200px;
    height: 200px;
}

#icons-adc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin: 50px auto;
    cursor: pointer;
}

.nome {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
}

.text-perfil {
    position: relative;
    margin-left: 35px;
}

#gerenciar {
    border: 1px solid grey;
    display: block;
    position: fixed;
    width: 300px;
    height: 50px;
    font-size: 25px;
    margin-top: 450px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    cursor: pointer;
}

#gerenciar:active {
    background-color: grey;
    opacity: 0.9;
}